.footer {
    background-color: #2F303A;
   /* height: 252px;*/
    padding-top: 60px;
    padding-bottom: 60px;
}
.foot-container{
    display: block;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        flex-wrap: wrap;
        
 
     }

    @media screen and (min-width: 1200px) {
       display: flex;
       align-items: baseline;
       justify-content: flex-start;
       gap: 10px;

    }
}

.footer-inform:not(:last-child) {
    margin-bottom: 12px;
}
.contact-footer {
  
    text-align: center;

   /* margin-right: 70px;*/
   @media screen and (min-width: 1200px) {
         text-align: start;
   }
}

.list-information {
    margin: auto;
    margin-top: 20px;
    padding-left: 0;
}
.last-part-footer {
    color: #FFFFFF;
}

.address-city {
    display:block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #FFFFFF;
   
}
.footer-mail {
    display:block;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    
}
.footer-tel {
    display:block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}