.header-container{
    display: flex;
    align-items: center;
    margin:auto;
}
.header-line {
    border-bottom: 1px solid #ECECEC;
}
.container {
    width: var(--container);
    margin: auto auto;
    padding: 0 15px 0 15px;
}
.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.list {
    list-style: none;

}
.nav-list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left: 93px;
}
.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: #2196F3;
}
}

.header-nav-link {
    position: relative;
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #212121;
}
.current {
    color: #2196F3;
}
.header-nav-link.current::after {
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: #2196F3;
}
.header-nav-item:not(:last-child) {
    margin-right: 50px;
}
.header-tel-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;  
    color: var(--contakt);
}
.header-mail-link {
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--contakt);
}
.mail-header {
    margin-right: 30px;
}
.contact {
    display: inline-flex;
    justify-content: center;
    align-self: baseline;
}
.contact-icon {
    fill: #757575;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);   

    .link:hover  &,
    .link:focus  & {
    fill: #2196F3;
}
}
