.hero {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: var(--background-color);
    padding: 200px 0;
    margin: 0;
    background-size: 1600px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg.png);
}
.container {
    width: var(--container);
    margin: auto auto;
    padding: 0 15px 0 15px;
   
}
.hero__title {
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: var(--H1);
    font-size: var(--font-size-third);
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin: 0;
    margin-bottom: 30px;
}
.button {
    display:block;
    font-weight: var(--H3);
    font-size: var(--font-size-second);
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    background-color:var(--btn-color);
    cursor: pointer;
    margin:auto;
    width: 216px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: var(--btn-radius);
    border-width: var(--btn-border-width);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
    background-color:var(--btn-color-hover-focus);
 }
 }  
