.our-team {
    background: var(--bcg-color-second);
    padding-top: 94px;
    padding-bottom: 94px;
    margin: auto;
}
.container{
    width: var(--container);
    margin: auto auto;
    padding: 0 15px 0 15px;
 }
 .our-team__subtitle-team {
   font-weight: var(--H2);
   font-size: var(--font-size-forth);
   line-height: 1.16;
   text-align: center;
   letter-spacing: 0.03em;
   padding: auto;
   color: var(--color);
   margin: auto;
   margin-bottom: 50px;
}
.our-team__item-team {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: auto;
}
.our-team__cards{
    gap:30px;
    background-color: var(--accent-color);
    border: 1px solid var(--border-solid);
    border-top: none;
    border-radius: var(--btn-radius);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team__team-img {
   display: block;
   width: 270px;
   left: 215px;
   top: 1632px;
}
.our-team__team-member{
   text-align: center; 
   margin: auto;
   padding-top: 30px;
   padding-bottom: 30px;
}
.our-team__team-name {
    font-weight: var(--H3);
    font-size: var(--font-size-second);
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color);
}
.our-team__job-title {
    font-weight: var(--p);
    font-size: var(--font-size-second);
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--contakt);
    margin: auto;
}
.our-team__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin:auto;
    margin-top: 16px;
    padding: 0;
}
.our-team__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--accent-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
    background-color: var(--btn-color);
    }
}

.our-team__social-icon {
    fill: var(--fill-icon);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


    .our-team__social-link:hover > & {
        fill: var(--accent-color);
    }
    .our-team__social-link:focus > & {
        fill: var(--accent-color);
    }
}
