.attention {
    color: #FFFFFF;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin:auto;
    margin-top: 16px;
    padding: 0;
}
.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon-footer {
     fill:  #FFFFFF;
}
.social-link-footer:hover,
.social-link-footer:focus{
    background-color: #2196F3;
}
.social-link-footer:hover > .social-icon-footer {
    fill: #FFFFFF;
}