
body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
.btn {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    border-color: none;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
