:root {
    /*Fonts*/
    --primary-font-family: 'Roboto', sans-serif;
    --color:#212121;
    --accent-color: #FFFFFF;
    --contakt: #757575;
    --H1: 900;  
    --H2: 700;   
    --H3: 500;
    --p: 400;
    --font-size-forth: 36px;
    --font-size: 14px;
    --font-size-second: 16px;
    --font-size-third: 44px;

    /*BCG-colors*/
    --background-color: #2F303A;
    --bcg-color-second:  #F5F4FA;
    --overlay: rgba(47, 48, 58, 0.8);
    --border-solid: #EEEEEE;
    
    /*BTN*/
    --btn-color: #2196f3;
    --btn-color-hover-focus: #188ce8; 
    --btn-radius: 4px;
    --btn-border-width: 0px;

    /*Width*/
    --container: 1200px;
    /*icon*/
    --fill-icon: #AFB1B8;
 }
